.App {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px black;
}
/* 
img {
  max-width: 500px;
} */


.inner {
  display: flex;
  background-color: green;
}

.item {
  min-height: 200px;
  width: 300px;
  padding: 10px;
}


.item img {
  width: 300px;
  height: 90%;
  border-radius: 12px;
  pointer-events: none;
}


.carrossel {
  cursor: grab;
  overflow: hidden;
  background-color: black;
  /* rotate: 80deg; isso que vai girar a div */
}